<!--ユーザー台帳一覧-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
      <h3 class="border-box py-5">台帳詳細</h3>
      <div class="col-lg-12 px-5 px-sm-0 mx-auto">
        <table class="table table-hover tabel-inverse col-lg-12">
          <thead>
            <tr>
              <th>管理番号</th>
              <th>名称</th>
              <th>台帳説明</th>
            </tr>
          </thead>
          <tbody>
            <% @registers.each do |register| %>
            <tr>
              <td><%= link_to register.reference_number, user_register_equipments_path(register) %></td>
              <td><%= register.name %></td>
              <td><%= register.detail  %></td>
            </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>