
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-12 px-5 px-sm-0 mx-auto">
      <h3 class="border-box py-5">台帳詳細</h3>
      <div class="col-lg-12 px-5 px-sm-0 mx-auto">
        <div class="row">
          <div class="col-lg-3">
            <div>管理番号</div>
          </div>
          <div class="col-lg-6">
            <%= @regiåster.reference_number %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div>名称</div>
          </div>
          <div class="col-lg-6">
            <%= @register.name %>å
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div>台帳説明</div>
          </div>
          <div class="col-lg-6">
            <%= @register.detail %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div>削除ステータス</div>
          </div>
          <div class="col-lg-6">
            <% if @register.is_deleted %>
              <div class="text-secondary">削除中</div>
            <% else %>
              <div class="text-success">登録中</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "編集する", edit_admin_register_path(@register[:id]), class: 'btn btn-primary' %>
  </div>
</div>