// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background{
  background-image: image-url("tana.jpg");
  height: 420px;
  background-size: cover;

}

.main-visuarl-content{
  height: 420px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-text{
  color: white;
  font-size: 32px;
  padding-top: 74px;
  text-align: center;
  font-family: 'Caveat', cursive;
}