// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background{
  background-image: image-url("tana.jpg");
  height: 420px;
  background-size: cover;
  opacity: 0.5;
  z-index: -1
}
