<%= render 'layouts/header' %>
<div class="background">
  <div class="main-visuarl-content">
    <div class="container">
      <p class="main-text">Tailoring the ledger to </br>
      your desired format </br>and </br>our unique specifications</p>
    </div>
  </div>
</div>
<div class="container">
  コンテナ
</div>