<%= render 'layouts/header' %>
<div class="background">
  <div class="container">
    <a>Tailoring the ledger to your desired format and our unique specifications</br>あなたの欲する必要な台帳をあなたの形へ</a>
  </div>
</div>
<div class="container">
  コンテナ
</div>