<p>こんにちは、 <%= @resource.email %>さん!</p>

<p>パスワードを変更するためのリンクをリクエストしました。以下のリンクを使用してパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストを行っていない場合は、このメールを無視してください。</p>
<p>新しいパスワードを作成するために、上記のリンクにアクセスするまでパスワードは変更されません。</p>
