<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="d-flex flex-column vh-100">
  <% unless current_page?(top_page_path) %>
    <%= render 'layouts/header' %>
  <% end %>
    <%= yield %>
  </body>
</html>
